<span class="span10 hero-unit">
  <h1><%= "#{@person.first_name} #{@person.last_name}" %>&nbsp;<small><%= @person.email %></small></h1>
  <br/>
  <h3>Your bidder id is <strong><%= @person.id %></strong>.</h3>
  <p>You will have to use this number to bid on items during the auction. Please write this number down.</p>
  <p>Thanks for registering!</p>
</span>

