<div class="span10 hero-unit">
  <h1>Queen's Park Auction</h1>
  <p>To participate as a bidder in the auction you must first register and get your bidder id.</p>
  <%= link_to "Register", new_person_path, :class => 'btn btn-primary btn-large' %>
</div>